<br><br><br><br><br>
<div class="container" style="margin-bottom:50px;margin-top:150px;">
    <form id='Sauthor' action="searchbyauthor" method="POST" style='margin-left:35%'>
        <div class="form-data col-sm-6">
            <div class="form-group">
                <label for="author">Author Name</label>
                <input type="text" class="form-control" name="author" id="author" placeholder="author" required>
            </div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<br>
<br>
<br><br><br><br><br>