<div class="container" style="margin-bottom:50px;margin-top:150px;">
    <form id='Stitle' action="/searchbytitle" method="POST" style='margin-left:35%'>
        <div class="form-data col-sm-6">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="title" required>
            </div>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<br>
<br>
<br><br><br><br><br>